<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suleymanince.realmsimpleapp1">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="Şifre Depom"
        android:roundIcon="@mipmap/myicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hakkinda" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".PatternPassword"
            android:label="Şifre Depom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>